html {
  background-color: white;
  overflow-y: scroll;
}

body {
  height: 100%;
  background-color: white;
  margin: 0px 0px 0px 0px;
  font-family: system-ui, "Roboto", BlinkMacSystemFont, sans-serif;
}

p {
  /*font-family: -apple-system, BlinkMacSystemFont, sans-serif;*/
  font-size: 16px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #546270;
  outline: 0;
  transition: all all 150ms;
}

.p > a {
  border-bottom: 1px solid #e6e9eb !important;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(proximanova-regular.otf);
}

.navbar {
  width: 100%;
  margin-bottom: 60px;
  padding-top: 20px;
  background-color: white;
}

.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a,
.navbar .nav > li.current-menu-ancestor > a {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
}

.navbar-brand {
  font-size: 24px;
  font-family: Karla, Helvetica Neue;
  padding: 0 15;
}

.navbar-default {
  background-color: white !important;
  background-image: none;
  background-repeat: no-repeat;
}

.navbar .navbar-default {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.img-grid a {
  text-decoration: none;
}

.featurette-img {
  max-height: 150px;
  max-width: 150px;
}

.navbar-default .navbar-brand {
  color: black;
  padding-bottom: 0px;
  margin-bottom: 0;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}

.navbar-default .navbar-text {
  color: #6b6b6b;
}

.navbar-default .navbar-nav > li > a {
  color: #6b6b6b;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #ffffff;
  text-decoration: underline;
  font-weight: 800;
  background-image: none;
  background-repeat: no-repeat;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar ul {
  overflow: hidden;
  float: right;
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  color: white;
  padding: 1 20px;
  text-decoration: none;
}

.container-fluid {
  max-width: 1000px;
}

.block {
  margin-bottom: 10px;
}

.intro-bar {
  background-color: #6C3FFF;
  width: 100%;
  height: 20px;
  margin: 0;
  padding: 0;
}

#intro-about-block {
  background-color: white;
  transition: all 0.3s;
  max-width: 900px;
}

#about-header {
  margin-top: 0;
}

#now-header {
  text-align: center;
}

#now-header-light {
  font-size: 200;
  font-size: 20px;
  color: #808080;
}

.list-item {
  font-weight: 500;
  font-size: 22px;
}

.intro-img {
  margin-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-img {
  background-color: white;
  max-width: 33%;
  height: 300px;
  float: left;
  margin-top: 40px;
  margin-right: 0;
  transition: all 0.3s;
}

.about-intro {
  background-color: white;
  float: left;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 0;
  max-width: 450px;
  transition: all 0.3s;
}

.about-text {
  margin-top: 15px;
  z-index: 10;
}

#intro-block {
  background-color: white;
  width: 100%;
  height: 30vh;
  /*height: 100vh;*/
  max-width: 900px;
  transition: all 0.3s;
}

#about-block {
  background-color: white;
  width: 100%;
  /*height: 100vh;*/
  max-width: 900px;
  transition: all 0.3s;
}

.intro-text {
  max-width: 686px;
  font-weight: 400;
  z-index: 10;
  opacity: 1;
}

#intro-large-text {
  font-size: 36px;
  font-weight: 600;
  margin-top: 5%;
}

#intro-small-text {
  font-size: 18px;
  font-weight: 400;
  max-width: 400px;
}

#now-date {
  font-family: Roboto Slab;
  font-size: 200;
  font-size: 18px;
  color: #808080;
}

#portfolio-block {
  width: 100%;
  max-width: 900px;
}

#cisco-block {
  /*background-color: #F2F2F8;*/
}

#blueprint-block {
  /*background-color: #177BE5;*/
}

#waterline-block {
  /*background-color: #E9EDEE;*/
}

.work-row {
  height: 230px;
  margin-left: auto;
}

.page-block {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.condensed-block {
  width: 700px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.work-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#waterline-logo {
  margin-top: 15px;
  margin-bottom: 15px;
}

.work-item {
  background-color: white;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 5px;
  height: 240px;
  /*width border: 2px solid #808080;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);*/
  transition: all 0.3s;
}

.job-title {
  font-weight: 300;
  font-size: 20px;
  top: 120px;
  margin-top: 10px;
}

.work-title {
  font-family: Domine;
  font-weight: 600px;
  font-size: 26px;
  margin-top: 5px;
  margin-bottom: 0;
}

.top-divider {
  position: absolute;
  margin-left: 50px;
  margin-top: 15px;
  width: 50px;
  height: 1px;
  background-color: #000;
  opacity: 0.15;
}

.portfolio-text {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
}

.portfolio-description {
  float: left;
  max-width: 60%;
}

.portfolio-img {
  float: left;
  max-width: 350px;
  width: 40%;
}

.company-img {
  width: 280px;
  height: 180px;
  /*
  when using color rectanges
  width: 350px;
  height: 240px;

  when using laptop screen
  width: 340px;
  height: 195px;
  */
}

.about-details {
  margin-top: 40px;
}

.about-details-content {
  margin-top: 15px;
}

.about-details-header {
  float: left;
  width: 33%;
  margin-right: 0;
  position: relative;
  font-family: Domine;
  font-size: 24px;]
}

#cisco-img {
  margin-top: 100px;
  size: 200%;
  margin-left: 100px;
}

@media only screen and (max-width: 400px) {
  .about-img {
    float: none;
  }
}

@media only screen and (max-width: 600px) {
  .work-text p {
    max-width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .work-item {
    width: 600px;
  }
}

@media only screen and (max-width: 767px) {
  .about-intro {
    margin-left: 0;
    float: none;
  }

  #about-header {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 850px) {
  .about-img {
    float: none;
    max-width: 100%;
  }
  .about-intro {
    float: none;
    margin-left: 0;
  }
}

@media only screen and (min-width: 1000px) {
}

@media only screen and (min-width: 1200px) {
  .work-header {
    margin-right: 0;
}
