html {
  background-color: white;
  overflow-y: scroll;
}

body {
  height: 100%;
  background-color: white;
  margin: 0px 0px 0px 0px;
  font-family: system-ui, "Roboto", BlinkMacSystemFont, sans-serif;
}

p {
  /*font-family: -apple-system, BlinkMacSystemFont, sans-serif;*/
  font-size: 16px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #546270;
  outline: 0;
  transition: all all 150ms;
}

.p > a {
  border-bottom: 1px solid #e6e9eb !important;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(proximanova-regular.otf);
}

/* .navbar {
  width: 100%;
  margin-bottom: 60px;
  padding-top: 20px;
  background-color: white;
}

.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a,
.navbar .nav > li.current-menu-ancestor > a {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
}

.navbar-brand {
  font-size: 24px;
  font-family: Karla, Helvetica Neue;
  padding: 0 15;
}

.navbar-default {
  background-color: white !important;
  background-image: none;
  background-repeat: no-repeat;
}

.navbar .navbar-default {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.img-grid a {
  text-decoration: none;
}

.featurette-img {
  max-height: 150px;
  max-width: 150px;
}

.navbar-default .navbar-brand {
  color: black;
  padding-bottom: 0px;
  margin-bottom: 0;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}

.navbar-default .navbar-text {
  color: #6b6b6b;
}

.navbar-default .navbar-nav > li > a {
  color: #6b6b6b;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #ffffff;
  text-decoration: underline;
  font-weight: 800;
  background-image: none;
  background-repeat: no-repeat;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar ul {
  overflow: hidden;
  float: right;
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  color: white;
  padding: 1 20px;
  text-decoration: none;
} */

.navbar {
  overflow: hidden;
  background-color: white;
  font-family: "Open Sans";
  margin-top: 20px;
  margin-bottom: 60px;
}

.navbar a {
  float: left;
  color: #6b6b6b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.navbar a.active,
.navbar a.active:hover,
.navbar a.active:focus {
  color: #000000;
  background-color: #ffffff;
  text-decoration: underline;
  font-weight: 800;
  background-image: none;
  background-repeat: no-repeat;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar a:hover,
.navbar a:focus {
  color: #000000;
}

.container-fluid {
  max-width: 700px;
}

.block {
  margin-bottom: 10px;
  width: 100%;
}

.intro-bar {
  background-color: #6C3FFF;
  width: 100%;
  height: 20px;
  margin: 0;
  padding: 0;
}

#intro-about-block {
  background-color: white;
  transition: all 0.3s;
  max-width: 900px;
}

#about-header {
  margin-top: 0;
}

#now-header {
  text-align: center;
}

#now-header-light {
  font-size: 200;
  font-size: 20px;
  color: #808080;
}

.list-item {
  font-weight: 500;
  font-size: 22px;
}

.intro-img {
  margin-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-img {
  background-color: white;
  height: 200px;
  border-radius: 10px;
  float: left;
  margin-top: 40px;
  margin-right: 0;
  transition: all 0.3s;
}

.about-intro {
  background-color: white;
  float: left;
  margin-top: 10px;
  margin-right: 0;
  max-width: 550px;
  transition: all 0.3s;
}

.about-text {
  margin-top: 15px;
  z-index: 10;
}

.about-header {
  font-family: freight-text-pro, sans-serif;
  font-size: 26px;
  font-weight: 600;
}

.about-title {
  font-weight: 600;
  color: #7368FF;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.about-subtitle {
  color: #828282;
  font-weight: 500;
}

.about-text {
  margin-top: 10px;
}

.about-section {
  margin-bottom: 30px;
}

.now-link {
  color: black;
  font-weight: 500;
}

.now-link:hover {
  color: black;
}

.p-link,
.p-link:visited {
  color: black;
  font-weight: 500;
  text-decoration: underline;
}

.p-link:hover {
  color: black;
  background-color: #E2E0FF;
}

.about-link,
.about-link:hover,
.about-link:visited {
  color: #7368FF;
  font-weight: 600;
}

.about-item {
  margin-bottom: 20px;
}

.social-link {
  margin-right: 12px;
  font-size: 16px;
}



#intro-block {
  background-color: white;
  width: 100%;
  height: 30vh;
  /*height: 100vh;*/
  max-width: 900px;
  transition: all 0.3s;
}

#about-block {
  background-color: white;
  width: 100%;
  /*height: 100vh;*/
  max-width: 900px;
  transition: all 0.3s;
}

.intro-text {
  max-width: 686px;
  font-weight: 400;
  z-index: 10;
  opacity: 1;
}

#intro-large-text {
  font-family: freight-text-pro, sans-serif;
  /*font-family: Karla, sans-serif;*/
  font-size: 36px;
  font-weight: 600;
  margin-top: 5%;
}

#intro-small-text {
  font-size: 18px;
  font-weight: 400;
  max-width: 400px;
}

.portfolio-header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 10px;
}

#now-date {
  font-family: Roboto Slab;
  font-size: 200;
  font-size: 18px;
  color: #808080;
}

#portfolio-block {
  width: 100%;
  max-width: 900px;
}

.page-block {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  padding-left: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.work-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.work-item {
  background-color: white;
  width: 100%;
  margin-bottom: 35px;
  /*width border: 2px solid #808080;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);*/
  transition: all 0.3s;
}

.now-header {
  font-size: 22px;
  font-family: freight-text-pro, sans-serif;
  font-weight: 600;
}

.strong-text {
  font-weight: 600;
}

.top-divider {
  position: absolute;
  margin-left: 50px;
  margin-top: 15px;
  width: 50px;
  height: 1px;
  background-color: #000;
  opacity: 0.15;
}

.portfolio-img {
  border-radius: 5px;
  width: 100%;
}

.about-details {
  margin-top: 40px;
}

.about-details-content {
  margin-top: 15px;
}

.about-details-header {
  float: left;
  width: 33%;
  margin-right: 0;
  position: relative;
  font-size: 24px;
}

.now-details-header {
  float: left;
  margin-right: 0;
  font-size: 24px;
}

.flex-item {
  float: left;
  width: 47%;
}

.flex-container {
  display: flex;
  margin-left: 0;
  flex-wrap: wrap;
}

.left {
  margin-right: 32px;
}

@media only screen and (max-width: 300px) {
  .portfolio-img {
    max-width: 220px;
  }

  .block {
    max-width: 300px;
  }

  .page-block {
    max-width: 300px;
  }
}


@media only screen and (max-width: 400px) {
  .about-img {
    float: none;
  }

}


@media only screen and (max-width: 600px) {

  .portfolio-img {
    max-width: 500px;
  }
}

@media only screen and (max-width: 700px) {
  .work-item {
    width: 600px;
  }
}

@media only screen and (max-width: 767px) {
  .about-intro {
    margin-left: 0;
    float: none;
  }

  #about-header {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 850px) {
  .about-img {
    float: none;
    max-width: 100%;
  }
  .about-intro {
    float: none;
    margin-left: 0;
  }
}

@media only screen and (min-width: 1000px) {
}

@media only screen and (min-width: 1200px) {
  .work-header {
    margin-right: 0;
  }
}