html {
  background-color: #ffffff;
  overflow-y: scroll; 
}

@font-face {
    font-family: Proxima Nova;
    src: url(proximanova-regular.otf);
}

.navbar {
  width: 100%;
  margin-bottom: 60px;
  padding-top: 20px;
  background-color: white;
}

.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
}

.navbar-brand {
  font-size: 24px;
  font-family: Karla, Helvetica Neue;
  padding: 0 15;
}

.navbar-default {
  background-color: white !important;
  background-image: none;
  background-repeat: no-repeat;
}

.navbar .navbar-default {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.img-grid a {
  text-decoration: none;
}

.featurette-img {
  max-height: 225px;
  max-width: 400px;
}

.navbar-default .navbar-brand {
  color: black;
  padding-bottom: 0px;
  margin-bottom: 0;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}

.navbar-default .navbar-text {
  color: #6b6b6b;
}

.navbar-default .navbar-nav > li > a {
  color: #6b6b6b;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #ffffff;
  text-decoration: underline;
  font-weight: 800;
  background-image: none;
  background-repeat: no-repeat;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar ul {
  overflow: hidden;
  float: right;
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  color: white; 
  padding: 1 20px; 
  text-decoration: none;
}

.container-fluid {
  max-width: 1000px;
}

.icon {
  margin-left: 10px;
  margin-right: 3px;
  align-content: right;
}

.large-icon {
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.intro-block {
  margin-bottom: 25px;
}

.intro-large-text {
  font-family: Open Sans;
  font-size: 2.5em;
  font-weight: 900;
  color: black;
}

.resume-header {
  font-family: Open Sans;
  font-size: 2.5em;
  font-weight: 900;
  color: black;
  text-align: center;
}

.intro-small-text {
  font-family: Assistant;
  font-weight: 300;
  font-size: 1.5em;
  color: black;
}

.main-title {
  text-align: center;
}

.img-grid {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.resume-block {
  padding: 20px 0;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.work-item h3 {
  margin-left: 5px;
  font-size: 18px;
}

.work-item h4 {
  margin-left: 5px;
  font-size: 16px;
  font-weight: normal;
  font-color: black;
}

.work-item p {
  margin-left: 5px;
  font-size: 14px;
  font-weight: normal;
}

.work-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.work-item:hover {
  background-color: #f2f2f2;
}

.work-link h4 {
  color: black;
}

.col-md-4 {
  padding: 0 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page-block {
  display: block;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.about-img {
  padding-right: 20px;
  padding-bottom: 20px;
}

.body-text {
  font-family: Proxima Nova, Lato, sans-serif;
  font-size: 18px;
  color: black;
  padding-bottom: 15px;
  line-height: 1.5;
}

.work-block {
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

.work-text p {
  font-family: Proxima Nova, Lato, sans-serif;
  font-weight: 200;
  color: black;
  padding-bottom: 15px;
  line-height: 1.5;
  max-width: 70%;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

.work-header h3 {
  font-size: 24px;
  font-family: Karla;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
}

.work-text h4 {
  font-size: 20px;
  font-family: Karla;
  font-weight: 600;
  margin-left: auto;
  margin-left: auto;
  margin-bottom: 15px;
  margin-top: 25px;
}

.work-header {
  text-align: center
}

.work-block hr {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 0;
  width: 100%;
}

.mockup-img {
  max-width: 650;
  margin-bottom: 30px;
  margin-top: 30px;
}

.work-img { 
  display: block;
  width: 30%;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.work-text h4 {
  text-align: center;
}

.indented {
  padding-left: 25px;
}

@media only screen and (max-width: 400px) {
  .about-img {
    float: none;
  }
}

@media only screen and (max-width: 600px) {
  .work-text p {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1000px) {
}

@media only screen and (min-width: 1200px) {
  .work-header {
    margin-right: 0;
}